[submodule "src/openjpeg"]
	path = src/openjpeg
	url = https://github.com/uclouvain/openjpeg.git
[submodule "src/zstd"]
	path = src/zstd
	url = https://github.com/facebook/zstd.git
[submodule "src/jxl"]
	path = src/jxl
	url = https://github.com/libjxl/libjxl.git
