__pycache__
build
src/build
src/share
data/test.hdf5
data/test.pdf
data/compressed.nc
.devcontainer
.vscode
*.nc
*.so
*.dylib
*.dll
CLAUDE.md
ebcc.egg-info
ebcc/__pycache__
data/test.zarr
.venv
*.DS_Store
src/.cache